{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>nos produits</h1>

    <div>
        <ul>
            {# les boucles 'for' s'écrivent toujours "for element in list" #}
            {# https://twig.symfony.com/doc/2.x/tags/for.html #}
            {% for oneProduct in products %}
                <li>
                    <h2>{{ oneProduct.name }}</h2>
                    <img src="{{oneProduct.imageLink}}"/ width=300 height=auto>
                    <p>{{ oneProduct.description }}</p>
                    <p>{{ oneProduct.price }} (disponible: {{ oneProduct.stock }} unités)</p>
                </li>
            {# on ferme la boucle avec "endfor" #}
            {% endfor %}
        </ul>
    </div>


</div>
{% endblock %}
